[submodule "extlib/tlx"]
	path = extlib/tlx
	url = https://github.com/herlez/tlx
[submodule "extlib/fmt"]
	path = extlib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "extlib/malloc_count"]
	path = extlib/malloc_count
	url = https://github.com/bingmann/malloc_count.git
[submodule "extlib/modular_arithmetic"]
	path = extlib/modular_arithmetic
	url = https://github.com/hurchalla/modular_arithmetic
