[submodule "extlib/tlx"]
	path = extlib/tlx
	url = https://github.com/herlez/tlx
[submodule "extlib/fmt"]
	path = extlib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "extlib/modular_arithmetic"]
	path = extlib/modular_arithmetic
	url = https://github.com/hurchalla/modular_arithmetic
[submodule "extlib/rk-lce"]
	path = extlib/rk-lce
	url = https://github.com/nicolaprezza/rk-lce/
[submodule "extlib/libsais"]
	path = extlib/libsais
	url = https://github.com/IlyaGrebnov/libsais
[submodule "extlib/parallel-hashmap"]
	path = extlib/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap
[submodule "extlib/PGM-index"]
	path = extlib/PGM-index
	url = https://github.com/gvinciguerra/PGM-index
[submodule "extlib/gsaca-double-sort"]
	path = extlib/gsaca-double-sort
	url = https://github.com/jonas-ellert/gsaca-double-sort
	branch = gsaca-for-lce
[submodule "extlib/ips4o"]
	path = extlib/ips4o
	url = https://github.com/ips4o/ips4o
[submodule "extlib/malloc_count"]
	path = extlib/malloc_count
	url = https://github.com/ByteHamster-etc/malloc_count/
	branch = aligned_alloc
